.container {
  margin: 0 auto;
  width: 1140px;
}

.main {
  padding: 50px 10px;
}

.navbar {
  background-color: #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label {
  display: block;

  &,
  &__text {
    display: block;
  }

  &__text {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.form {
  &__title {
    margin-bottom: 32px;
    text-transform: uppercase;
  }
}

.w-100 {
  width: 100%;
}

.chart-filter {
  margin: 50px 0;
}

.auth-page {
  height: 100vh;
  position: relative;

  &__form {
    background-color: #eee;
    border-radius: 4px;
    left: 50%;
    padding: 12px 16px;
    padding-bottom: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;

    h1 {
      text-align: center;
    }
  }
}